/* header banner  */
.banner {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.banner img {
    display: block;
    width: 100%;
    max-width: 1320px;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.banner-content p {
    font-size: 32px;
    margin-bottom: 16px;

}

.banner-content h1 {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}
.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.banner-content {
    position: absolute;
    z-index: 1;
}

/* happy new year section css */
.offer-section{
    max-width: 800px;
    margin: 120px auto;
    text-align: center;
}

.offer-content h1{
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 30px;
}

.offer-content p{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}

.offer-content h2{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin-bottom: 48px;
}

.offer-section img{
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

/* new park section css  */
.event-section {
    max-width: 1320px;
    margin: 120px auto;
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.12)0%,
    rgba(255,0,0,0) 100%);
    border-radius: 16px;
}

.event-section p {
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    margin-bottom: 15px;
}

.event-section span {
    color: #FF0000;
}

.join-btn {
    margin-top: 40px;
    padding: 16px 32px;
    background: #FF0000;
    color: white;
    border: none;
    border-radius: 8px;

    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;

}

.join-btn:hover {
    background: #d60000;
}

/* new best offer section css  */

.offer-coming{
    max-width:1320px;
    margin:120px auto;
}

.offer-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:70px;
}

/* Left */

.offer-left{
    flex:1;
}

.offer-left h4{
    color:#FF0000;
    font-size:24px;
    margin-bottom:16px;
}

.offer-left h2{
    font-size:48px;
    color:#070211;
    margin-bottom:22px;
}

.offer-left p{
    color:#757575;
    line-height:32px;
    font-size:20px;
}

/* Middle */

.offer-middle{
    flex:1;
    display:flex;
    justify-content:center;
}

.circle{
    width:460px;
    height:460px;
    border:15px solid #FF0000;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;
}

.circle img{
    width:360px;
    height:360px;
    border-radius:50%;
    object-fit:cover;
}

/* Right */

.offer-right{
    flex:1;
}

.offer-right h2{
    color:#FF0000;
    font-size:48px;
    margin-bottom:16px;
}

.offer-right p{
    color:#757575;
    font-size:20px;
    line-height:32px;
    margin-bottom:40px;
}

.offer-right img{
    width:140px;
}

/* holiday offer css  */
.holiday-sale {
    max-width: 1320px;
    margin: 120px auto;
}

.holiday-content {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 70px;
}

.holiday-content h4 {
    font-size: 24px;
    margin-bottom: 16px;
}

.holiday-content h1 {
    font-size: 72px;
    margin-bottom: 24px;
}

.holiday-content span {
    color: #FF0000;
}

.holiday-content p {
    color: #757575;
    line-height: 32px;
}

/* image section  */

.holiday-banner {
position: relative;
height: 700px;
}

/* bottom banner  */
.bottom-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* gift box  */

.gift-box {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 650px;
    z-index: 2;
}

/* discount  */

.discount {
    position: absolute;
    right: 290px;
    bottom: 340px;
    width: 220px;
    z-index: 3;
}

/* best offer sections css  */

.best-gift-container{
    max-width:1320px;
    margin:120px auto;
}

/* Text */

.gift-content{
    max-width:900px;
    margin-bottom:48px;
}

.gift-content h4{
    color:#FF0000;
    font-size:24px;
    margin-bottom:16px;
}

.gift-content h2{
    font-size:48px;
    color:#070211;
    margin-bottom:22px;
}

.gift-content p{
    color:#757575;
    font-size:20px;
    line-height:32px;
}

/* Gallery */

.gift-gallery{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
}

.gift-gallery img{
    width:100%;
    display:block;
    border-radius:16px;
    cursor:pointer;
    transition:.3s;
}

.gift-gallery img:hover{
    transform:scale(1.08);
}

/* newsletter section css  */

.newsletter{
    max-width:1320px;
    margin:120px auto;
    padding:80px 120px;

    text-align:center;

    background:#FFF2F2;
    border-radius:16px;
}

.newsletter img{
    width:150px;
    margin-bottom:40px;
}

.newsletter h2{
    font-size:48px;
    color:#070211;
    margin-bottom:22px;
}

.newsletter p{
    max-width:850px;
    margin:0 auto 48px;

    color:#757575;
    font-size:20px;
    line-height:32px;
}

/* Input + Button */

.subscribe-box{
    display:flex;
    justify-content:center;
    align-items:center;
}

.subscribe-box input{
    width:420px;
    padding:20px 25px;

    border:none;
    outline:none;

    font-size:18px;

    border-radius:50px 0 0 50px;
}

.subscribe-box button{
    padding:20px 40px;

    border:none;
    background:#FF0000;
    color:white;

    font-size:20px;
    font-weight:600;

    cursor:pointer;

    border-radius:0 50px 50px 0;
}